{%extends 'base.html'%}
{%block content%}

{{sugestions}}
<style type="text/css">
    .card-header{
        color: whitesmoke;
    }
    .log{
		text-decoration: none;
		background: brown;
		color: whitesmoke;
		height: 50px;
		width: 100px;
		border: 0px;
		border-radius: 5px;
		padding: 15px;
		grid-area: log;

	}
	.log:hover, .log:active{
		background: white;
		color: black;
	}
</style>
{%for suggestion in suggestions%}
    <p>
        <div class="card">
        <div class="card-header bg-dark">{{suggestion.author}}</div>
        <div class="card-body">{{suggestion.site}}, Conference: {{suggestion.field}}, Transport: {{suggestion.transport}}</div>
        <div class="card-footer">Contact: {{suggestion.contact}}</div>
        </div>
    </p>
{%endfor%}

<a href="{%url 'logout'%}" class="log">Logout</a>

{%endblock%}